<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cloth Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
        <div class="navbar-logo">Cloth Shop</div>
        <ul class="navbar-links">
            <li><a href="#">Home</a></li>
          <!-- Show Admin button only if logged-in user type is Admin -->
    <li th:if="${session.user != null and session.user.type == 'Admin'}">
        <a th:href="@{/admin}">Admin</a>
    </li>
            <li><a th:href="@{/shop}">Shop</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <h1>Welcome to Our Cloth Shop</h1>
    <div class="product-grid">
        <div th:each="product : ${products}" class="product-card">
            <img th:src="@{${product.imageUrl}}" alt="Image" width="150">
            <h3 th:text="${product.name}"></h3>
                            <p>Price: ₹<span th:text="${product.retailPrice}"></span></p>
        </div>
    </div>
</body>
</html>